name: Latest blog post workflow
on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch: 

jobs:
  update-readme-with-blog:
    name: Update README with blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://ohimai-dev.hashnode.dev/rss.xml"
